<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  {% block title %}
  <title>Home</title>
  {% endblock %}
  
  <style>
    #app{
      
      background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(84, 83, 84, 0.73));

    }
  </style>
</head>
<body class="">
  <div id="app">
    <v-app>
      
        {% block content %}
        <template class="">
          <v-card
            class="mx-auto mt-9  pb-5 purple lighten-5"
            style="width: 50%; text-align: center;"
            outlined
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="text-overline mb-4">
                  <h4 class="secondary--text">
                    Welcome to The Internship Cash..
                  </h4>
                </div>   
              </v-list-item-content>
            </v-list-item>
  
           
           
            <a href="{% url 'login' %}" class="" style="text-decoration: none;">
              
              <v-btn style="width: 25%;"
                outlined
                rounded
                text
                class="white"
              >
                sign in
              </v-btn>
            </a>
            
           
          </v-card>
        </template>
        
        {% endblock %}
    </v-app>
  </div>


  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    })
  </script>
</body>
</html>