<!DOCTYPE html>



{% extends "./base.html" %}
{% load static %}





{% block title %}
<title>Account</title>
{% endblock %}



{% block content %}

     

      <template class="">
        <v-card
          class="mx-auto mt-9  pb-5 purple lighten-5"
          style="width: 50%; text-align: center;"
          outlined
        >
          <v-list-item three-line>
            <v-list-item-content>
              <div class="text-overline mb-4">
                Your Balance is
              </div>
              {% if userAccount %}
              {% for account in userAccount %}
              <v-list-item-title class="text-h5 mb-1">
                {{ account.balance }} 
              </v-list-item-title>
              {% endfor %}     
            </v-list-item-content>
          </v-list-item>

         

          <a href="{% url 'internshipcash:profile'%}" class="" style="text-decoration: none;">
            <v-btn style="width: 25%;"
              outlined
              rounded
              text
              class="white"
            >
              Home
            </v-btn>
          </a>
          
          {% else %}
          <p>No accounts are available.</p>
          {% endif %}
        </v-card>
      </template>

{% endblock %}




