<!DOCTYPE html>

{% extends "../internshipcash/transfer.html" %}
{% load static %}





{% block title %}
<title>Login</title>
{% endblock %}




{% block content %}





<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}


  <div class="mb-3 mt-4">
    <label for="senderAccount" class="form-label">Sender Account Number</label>
    <input type="text" class="form-control" id="senderAccount" name="senderAccount" >
  </div>

  <div class="mb-3 mt-4">
      <label for="receiverAccount" class="form-label">receiver Account Number</label>
      <input type="text" class="form-control" id="receiverAccount" name="receiverAccount" >
  </div>
  <button type="submit">Log In</button>
</form>



{% endblock %}